version: '3.1'

services:
  pg_srv:
    image: postgres
    restart: always
    ports:
      - 5432:5432
      - 5433:5433
    environment: 
      POSTGRES_PASSWORD: moloko
      POSTGRES_USER: moloko
      POSTGRES_DB: moloko
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes: 
      - ./data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
